.card {
    margin: 1em;
    padding: 1em;
    background-color: #ffcc74b0;
    overflow: hidden;
    display: flex;
    width: 30%;
    box-sizing: border-box;
    justify-content: center;
    border-radius: 20px;

  }

  .card-title {
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 15px;
  }

  #closeIcon {
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
    margin-top: 8px;
  }

  .card-body {
    margin-top: 0px !important;
    padding-top: 0px !important;
    text-align: center;
  }

  .boton{
    background-color: rgb(218, 208, 208);
    color: rgb(0, 0, 0);
    border: none;
  }

  .links {
    text-align: center;
  }

  .links a{
    width: 90px;
    text-decoration: none;
    color: black;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
  }


  .buttonDetail {
    box-sizing: border-box;
    color: black;
    background-color: #ffcc74;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
  }

  .desplegable {
    margin-top: 6px;
    justify-content: center;
    display: flex;
  }

  .genero {
    margin-bottom: 6px;
    display: -webkit-inline-box;
    margin-left: 6px;
  }
    /* .links {
      display: none;
    }



  .desplegable:hover .links {
    display: block;
  } */
