
.contengotodo {
  padding-top: 5em;
  text-align: center;
}
.videojuegos {
    padding-top: 0.5em;
    background-color: #ffcc74;
    opacity: .9;
    width: 50%;
    height: 30%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: -webkit-inline-box;
}

.cards{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    justify-content: center;
    opacity: .9;
    padding: 1em;
    width: 100%;
    box-sizing: content-box;


}
but{
    display: flex;
    align-items: center;

    padding-top: 2%;
    width: 25%;
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
}

.botones{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.checkes{
    display: flex;
    margin-left: 5%;

}
.checks{
    display: inline-grid;
    height: 30%;
    color: aqua;
    opacity: .9;
    width: 000%;
}

.contCheck {
  padding-bottom: 5px;
  width: 115px;
  text-align: left;
}

.textFilter{
  padding-left: 6px;
}

.buttons {
  color: black;
  background-color: #ffcc74;
  width: 80px;
  border-radius: 6px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}


