*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.contenedor {
	box-sizing: border-box;
	display: flex;
	padding-top: 3%;
	justify-content: center;
	width: 100%;
}
.inputs {
  color: black;
	width: 40%;
	padding: 2%;
  background-color:#ffcc74 ;
}

.bttn{
  margin-top: 9px
}

.name {
  text-decoration: underline;
  display: -webkit-inline-box;
  margin-bottom: 12px;
}

.addGameInputs{
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  width: 220px;
}
